* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Roboto;
}
body {
    background-color: rgb(179, 228, 243);
}
main {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    }
#image img {
    display: block;
    width: 150px;
    max-height: 300px;
    position: relative;
    margin: 0 auto;
}
#name {
    text-align: center;
    font-size: 1em;
}
#type, #ability {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
}
#pokemon-name, #type-name, #ability-name {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}
nav {
    text-align: center;
    background-color: rgb(38, 154, 184);
    padding: 20px;
}
a {
    color: white;
    margin: 40px;
    font-size: 1.2em;
    padding: 20px;
}
a:hover {
    color: rgb(38, 154, 184);
    background-color: white;
}
.search-pokemon{
    text-align: center;
}
#poke-number {
    margin: 0 auto;
    padding: 5px;
}
#pokemon {
    text-align: center;
}
#find-pokemon {
    font-size: 1em;
}